name: Run unit tests

on:
  push:
    paths:
      - 'pkg/**'
      - '.github/workflows/test.yml'

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: 1.20

      - name: Run tests
        run: go test ./pkg/...
